@tailwind base;
@tailwind components;
@tailwind utilities;

.form-login {
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 15px 13px rgba(233, 87, 147, 0.35);
  width: 70%;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
}

.input-form {
  border: 2px solid transparent; /* Définir la largeur de la bordure et la rendre transparente pour utiliser border-image */
  border-image: linear-gradient(180deg, #fb8b24 0%, #e95793 100%) 1; /* Dégradé linéaire pour la bordure */
  border-radius: 15px;
  outline: none;
}
